
@model Wikivox.VModels.UserModel
@{
    ViewData["Title"] = "Index";
}

@* framework for list to reorder song list *@
@using (Html.BeginForm("Index", "SongMod", FormMethod.Post))
{
    <b>Song List: </b>
    <br />
    @Html.ListBoxFor(x => x.SelectedSongIds, Model.SongList, new { style = "width:200px" })
    <br />
    <input type="submit" value="submit" />
}

<h4>You Selected</h4>
<b style="color:red">Song List: @ViewBag.Message</b>

